/* Setting all elements initial background color */
* {
    background-color: #1F1B24;

}

/* Headers */
h1 {
    text-align: center;
    color: #BB86FC;
    padding: 100px 0 50px 0;
    font-family: 'DM Mono', monospace;

}

h2 {
    text-align: center;
    color: #BB86FC;
    font-family: 'DM Mono', monospace;
}

/* Table details */
table {
    margin-left: auto;
    margin-right: auto;

}

th {
    color: #BB86FC;
    padding: 25px 25px 25px 20px;
    font-family: 'DM Mono', monospace;
}

tr {
    color: #BB86FC;
}

td {
    height: 40px;
    text-align: center;
    padding: 5px;
    border: 2px solid black;
    border-radius: 25%;
}

td:hover {
    border: 2px dotted rgb(255, 255, 255) !important;
}


/* Palette 1 */
#pos00 {
    background-color: #006D77;
    color: white;
}

#pos01 {
    background-color: #83C5BE;
    color: black;
}

#pos02 {
    background-color: #EDF6F9;
    color: black;
}

#pos03 {
    background-color: #FFDDD2;
    color: black;
}

#pos04 {
    background-color: #E29578;
    color: black;
}

/* Palette 2 */
#pos10 {
    background-color: #495867;
    color: white;
}

#pos11 {
    background-color: #577399;
    color: black;
}

#pos12 {
    background-color: #BDD5EA;
    color: black;
}

#pos13 {
    background-color: #DA4167;
    color: black;
}

#pos14 {
    background-color: #F7A072;
    color: black;
}

/* Palette 3 */
#pos20 {
    background-color: #70D6FF;
    color: black;
}

#pos21 {
    background-color: #FF70A6;
    color: black;
}

#pos22 {
    background-color: #FF9770;
    color: black;
}

#pos23 {
    background-color: #FFD670;
    color: black;
}

#pos24 {
    background-color: #E9FF70;
    color: black;
}

/* Palette 4 */
#pos30 {
    background-color: #3C1642;
    color: white;
}

#pos31 {
    background-color: #086375;
    color: white;
}

#pos32 {
    background-color: #1DD3B0;
    color: black;
}

#pos33 {
    background-color: #AFFC41;
    color: black;
}

#pos34 {
    background-color: #B2FF9E;
    color: black;
}

/* Palette 5 */
#pos40 {
    background-color: #250902;
    color: white;
}

#pos41 {
    background-color: #38040E;
    color: white;
}

#pos42 {
    background-color: #640D14;
    color: white;
}

#pos43 {
    background-color: #800E13;
    color: black;
}

#pos44 {
    background-color: #AD2831;
    color: black;
}